<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./product_style.css" />
    <title>Vue Practice</title>
  </head>
  <body>
    <div class="nav-bar"></div>

    <div id="app">
      <div class="product">
        <div class="product-image">
          <img v-bind:src="image" :alt="product" />
        </div>

        <div class="product-info">
          <h1>{{product}}</h1>
          <!-- NOTE: Frist Way -->
          <!-- <p>
            {{
             inventory > 10 ? "In Stock" :
             inventory <= 10 && inventory > 0 ? "almost sold out" :
             "out of order"
            }}
          </p> -->
          <!-- NOTE: Second Way: generate true condition element with js -->
          <!-- <p v-if="inventory > 10">In Stock</p>
          <p v-else-if="inventory <= 10 && inventory > 0">almost sold out</p>
          <p v-else>out of order</p> -->

          <!-- NOTE: Third Way: display none when condition not hold true -->
          <!-- <p v-show="inventory > 10">In Stock</p>
          <p v-show="inventory <= 10 && inventory > 0">almost sold out</p>
          <p v-show="inventory === 0">out of order</p> -->

          <!-- <p v-show="inStock">In Stock</p>
          <span v-if="onSale">on sale</span> -->

          <p v-if="inStock">In Stock</p>
          <p v-else :class="{lineThrough: !inStock}">Out of Stock</p>

          <ul>
            <li v-for="detail in details">{{detail}}</li>
          </ul>

          <div
            v-for="variant in variants"
            class="color-box"
            :style="{backgroundColor: variant.variantColor}"
            :key="variant.variantId"
            @mouseover="variantHover(variant)"
          ></div>

          <ul>
            <li v-for="size in sizes" :key="size.id">{{size.value}}</li>
          </ul>

          <button
            v-on:click="addToCard"
            :class="[!inStock && 'disabledButton']"
            :disabled="!inStock"
          >
            Add To Card
          </button>
          <button
            v-on:click="removeFromCard"
            :class="{disabledButton: card === 0}"
            :disabled="card === 0 && true"
          >
            Decrement From Card
          </button>

          <div class="cart">
            <p>Card({{card}})</p>
          </div>

          <!-- <a :href="link" target="_blank">More products like this</a> -->
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          product: "Socks",
          image: "./images/vmSocks-green-onWhite.jpg",
          link:
            "https://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords=socks",
          inventory: 11,
          inStock: true,
          onSale: true,
          details: ["80% cotton", "20% polyester", "Gender-neutral"],
          variants: [
            {
              variantId: 2234,
              variantColor: "green",
              variantImage:
                "https://www.vuemastery.com/images/challenges/vmSocks-green-onWhite.jpg",
            },
            {
              variantId: 2235,
              variantColor: "blue",
              variantImage:
                "https://www.vuemastery.com/images/challenges/vmSocks-blue-onWhite.jpg",
            },
          ],
          sizes: [
            { value: "sm", id: 1 },
            { value: "md", id: 2 },
            { value: "lg", id: 3 },
            { value: "xl", id: 4 },
            { value: "xxl", id: 5 },
          ],
          card: 0,
        },

        methods: {
          addToCard: function () {
            this.card += 1;
          },
          removeFromCard() {
            this.card -= 1;
          },
          variantHover: function (variant) {
            this.image = variant.variantImage;
          },
        },
      });
    </script>
  </body>
</html>
